<div class='bg-landing'>
  <p class="text-white text-center text-4xl pt-30 pb-15 md:pt-45 md:pl-20 md:pr-20 md:text-6xl lg:pt-60 lg:pl-75 lg:pr-75 lg:text-8xl">
    <%= t("home.main_holder") %>
  </p>

  <div class='flex flex-col items-center'>
    <div class='mb-10 flex flex-col items-center max-w-80 md:max-w-150'>
      <%= image_tag "stonks", class: 'h-80 w-80 rounded-xl z-1 md:h-150 md:w-150' %>
      <p class="text-white text-xl pr-8 pl-8 z-2 mt-[-60px] md:text-3xl md:mt-[-80px]">
        <%= t("home.holder_1") %>
      </p>
    </div>
    <div class='mb-10 flex flex-col items-center max-w-80 md:max-w-150'>
      <%= image_tag "wallet", class: 'h-80 w-80 rounded-xl z-1 md:h-150 md:w-150' %>
      <p class="text-white text-xl pr-8 pl-8 z-2 mt-[-60px] md:text-3xl md:mt-[-50px]">
        <%= t("home.holder_2") %>
      </p>
    </div>
    <div class='mb-10 flex flex-col items-center max-w-80 md:max-w-150'>
      <%= image_tag "notify", class: 'h-80 w-80 rounded-xl z-1 md:h-150 md:w-150' %>
      <p class="text-white text-xl pr-8 pl-8 z-2 mt-[-60px] md:text-3xl md:mt-[-80px]">
        <%= t("home.holder_3") %>
      </p>
    </div>

    <p class="text-white text-center text-xl pb-5 md:text-2xl">
      <%= t("home.holder_4") %>
    </p>

    <button type="button" class="text-black text-2xl cursor-pointer border-2 rounded-3xl px-4 py-2 border-yellow-300 bg-yellow-300 mb-50 md:text-3xl">
      <%= t("home.join") %>
    </button>
  </div>
</div>