<footer class="bg-zinc-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6">
        <div class="">
          <div class="mb-6">
              <a href="" class="flex items-center">
                  <%= image_tag 'logo.png', class: "h-8 me-3", alt: "CryptoView Logo" %>
                  <span class="text-white self-center text-md font-semibold whitespace-nowrap">CryptoView</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8">
              <div>
                  <h2 class="text-white mb-6 text-sm font-semibold uppercase"><%= t("footer.links") %></h2>
                  <ul class="font-medium">
                      <li class="mb-4">
                          <a href="" class="text-white text-sm hover:text-yellow-300">Binance</a>
                      </li>
                      <li>
                          <a href="" class="text-white text-sm hover:text-yellow-300">Tailwind CSS</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="text-white mb-6 text-sm font-semibold uppercase"><%= t("footer.social_media") %></h2>
                  <ul class="font-medium">
                      <li class="mb-4">
                          <a href="" class="text-white hover:text-yellow-300 text-sm">Github</a>
                      </li>
                      <li>
                          <a href="" class="text-white hover:text-yellow-300 text-sm">Discord</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="grid grid-cols-1 mt-8">
              <div>
                  <h2 class="text-white mb-6 text-sm font-semibold uppercase"><%= t("footer.legal") %></h2>
                  <ul class="font-medium">
                      <li class="mb-1">
                          <a href="#" class="text-white text-sm hover:text-yellow-300"><%= t("footer.privacy_policy") %></a>
                      </li>
                      <li class="mb-1">
                          <a href="#" class="text-white text-sm hover:text-yellow-300"><%= t("footer.term_of_use") %></a>
                      </li>
                      <li>
                          <a href="#" class="text-white text-sm hover:text-yellow-300"><%= t("footer.cookie_policy") %></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 text-white" />
      <div class="flex flex-col items-center">
          <span class="text-white text-sm hover:text-yellow-300">
            © 2025
            <a href="" class="hover:underline">CryptoView</a>.
            All Rights Reserved.
          </span>
          <div class="mt-6 flex">
              <a href="https://www.linkedin.com/in/christophe-junier-1ab4911a3" class="text-white hover:text-yellow-300" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://discordapp.com/users/johnybegood" class="ms-5 text-white hover:text-yellow-300">
                  <i class="fab fa-discord"></i>
              </a>
              <a href="https://github.com/Christophe-Junier/" target="_blank" class="ms-5 text-white hover:text-yellow-300">
                  <i class="fab fa-github"></i>
              </a>
              <a href="mailto:christophejunier@gmail.com" class="ms-5 text-white hover:text-yellow-300">
                  <i class="fas fa-envelope"></i>
              </a>
          </div>
      </div>
    </div>
</footer>