<div class="flex flex-col items-center">
  <p class="text-white text-center text-2xl pt-30 pb-5 md:pt-30 md:text-4xl lg:pt-60 lg:text-6xl lg:pb-10">
    <%= t("users.sign_up.why") %>
  </p>
  <p class="text-yellow-300 text-sm md:text-lg lg:text-4xl lg:pb-5">
    <%= t("users.sign_up.chat_access") %>
  </p>
  <p class="text-yellow-300 text-sm md:text-lg lg:text-4xl lg:pb-5">
    <%= t("users.sign_up.simulation_access") %>
  </p>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "max-w-sm mx-auto mt-7 mb-7" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="mb-5 ml-10 mr-10">
    <label for="email" class="block mb-2 text-sm font-medium text-white"><%= t("devise.form.email") %></label>
    <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  <div class="mb-5 ml-10 mr-10">
    <label for="password" class="block mb-2 text-sm font-medium text-white"><%= t("devise.form.password") %></label>
    <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  <div class="mb-5 ml-10 mr-10">
    <label for="password" class="block mb-2 text-sm font-medium text-white"><%= t("devise.form.password_confirmation") %></label>
    <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  <button type="submit" class="ml-10 text-black bg-yellow-300 hover:bg-yellow-400 cursor-pointer font-medium rounded-lg text-sm px-5 py-2.5 text-center"><%= t("devise.registrations.register") %></button>
<% end %>